<img src="img/coco.jpg" class="mt-2 img-fluid">
<h1 class="mt-1 ml-3">Preguntas frecuentes.</h1>
<p class="ml-3">Aquí podrás encontrar un poco más de información técnica sobre el juego que te ayudará en tu aventura.</p>
<details>
    <summary>
        <h2>¿Qué es La Doguería?</h2>
         </summary>
    <p class="ml-3">La Doguería es el país en donde convivimos. Gracias a una sofisticada tecnología basada en una sopa de letras, los humanos ahora pueden comunicarse fácilmente con los perros, quienes, además, han cobrado consciencia de si mismos. En este lugar, ambas especies viven en armonía (o bueno, eso intentamos). Nos ayudamos mutuamente y creemos firmemente que los perros tienen tantos derechos como nosotros, así que les dejamos vivir en igualdad de condiciones.</p>
    <p class="ml-3">Podrás encontrar perros viviendo solos en sus departamentos, o adoptados por una familia si ellos lo desean. Cada perro y humano tiene que trabajar para ganarse su salario. Además, tenemos un sistema de gobierno manejado por ambas razas. Existe tanto el gobierno perruno como el gobierno humano, y ambos deben tomar todas las decisiones en conjunto, puesto que estamos en una democracia completamente liberal.</p>
    <p class="ml-3">Lamentablemente, no todo el mundo opina igual. Desde que los canes cobraron consciencia de sí mismos, hay muchos seres humanos que están asustados al no sentirse únicos y superiores a todas las demás razas. Por esta razón, los agreden e incluso, en muchas ocasiones, asesinan a nuestros amigos a sangre fría y sin piedad. Para empeorar la situación, muchos gobiernos, en vez de defenderlos se han puesto del lado de los opresores, así que hay países en donde se extermina y esclaviza a todos los perros. Los queman en hogueras o los cuelgan de las colas sin ningún remordimiento.</p>
    <p class="ml-3">Desde La Doguería estamos completamente en desacuerdo con tales prácticas sanguinarias, así que parte de nuestro trabajo radica en rescatar a aquellos pobres seres y traerlos a este lugar, donde tendrán un refugio seguro para vivir. Y, por supuesto, también vamos a asegurarnos de que ninguna persona se atreva a promover tales ideas en nuestro territorio. Si un ser humano agrede a un perro (o viceversa), sin ninguna razón válida, será condenado a pena de muerte sin excepción.</p>
    </details>
    <details>
        <summary>
      <h2>¿Cómo funcionan las profesiones?</h2>
    </summary>
    <p class="ml-3">Cada profesión es un mundo. En muchos casos, necesitarás tener conocimeintos técnicos (por ejemplo, si eres beterinario, deberás saber cómo tratar a un perro adecuadamente, o podrías matarlo sin querer).</p>
    <p class="ml-3">Sin embargo, cada trabajo tiene 2 características principales que deberás considerar. Por un lado, el salario. Dependiendo de tu oficio y el lugar en donde trabajes, tendrás un sueldo mayor o menor, con el cual podrás sobrevivir y desempeñarte libremente en el país. Y por otro lado, la reputación. A medida que consigas éxito y seas bueno en lo que haces, tu reputación aumentará, lo cual ayudará a que te contraten más rápidamente en una compañía y ganes mucho más dinero.</p>
    <p class="ml-3">Ten en cuenta que, si tu reputación disminuye y no consigues aumentarla, podrías ser despedido o, si tienes un negocio propio, este podría irse a la quiebra y te verías obligado a vivir en un alvergue. En algunos casos, incluso, podrías llegar a perder completamente tu profesión. Imagina que eres un beterinario y, por no poseer buenos conocimientos, la gran mayoría de tus pacientes terminan muriendo o empeorando irremediablemente. Si esto ocurre y no mejora, entonces las empresas podrán presentar una demanda contra ti, en donde se te negará el permiso para ejercer tu labor.</p>
</details>
<details>
    <summary>
        <h2>¿Existen otras ciudades?</h2>
    </summary>
    <p class="ml-3">¡Sí! cuando empieces a jugar, aparecerás en Dogcity, la capital de La Doguería. Pero cuando tengas suficiente dinero, podrás desplazarte a cualquiera de las otras ciudades del país y, si lo deseas, residir allí.</p>
    </details>
    <details>
        <summary>
        <h2>¿Todos los personajes que veo en el juego son reales?</h2>
        </summary>
    <p class="ml-3">No necesariamente. En el juego podrás toparte con personajes reales, pero también habrán cientos de npcs (jugadores que no son reales).</p>
    </details>
    <details>
        <summary>
<h2>¿Qué profesiones existen?</h2>
</summary>
<p class="ml-3">¡Muchísimas! si eres un humano, puedes ser un beterinario, bombero, productor, rescatista, vendedor, peluquero, político... y si eres un perro, podrás ser un perro de asistencia, pastor, policía, militar, lazarillo... ¡entre muchas otras! puedes ver todas las que tenemos disponibles en nuestra <a href="">página de registro.</a></p>
</details>
<details>
    <summary>
<h2>¿Puedo cambiar de profesión?</h2>
</summary>
<p class="ml-3">Claro que sí. Si decides cambiar de carrera profesional, podrás hacerlo estudiando la carrera en una universidad, o presentando un examen técnico para asegurar que tienes las capacidades.</p>
</details>
<details>
    <summary>
<h2>¿Debo rolear en este juego?</h2>
</summary>
<p class="ml-3">El rol consiste en interpretar a tu personaje y darle vida, tal como si estuvieses actuando. Si bien no es estrictamente necesario y podrías llegar a desenvolverte sin él, es aconsejable que rolees con tu personaje puesto que podría abrirte las puertas a interactuar con otros jugadores y adquirir beneficios, tales como trabajar en sus establecimientos, tener amigos, ETC. En el único caso en donde sí es indispensable el rol, es en la profesión de político.</p>
</details>