<img src="img/nino.jpg" class="mr-5 img-fluid" width="300" height="400">
<h1 class="ml-3">La doguería, un lugar donde las mascotas son libres de verdad.</h1>
<p class="ml-3 mt-1">¡Bienvenido a la Doguería!</p>
<p class="ml-3">¿Es tu primera vez? Entonces déjame darte una breve introducción.</p>
<p class="ml-3">Mi nombre es Orlando, y junto a otras miles de personas habitamos el país de la Doguería, un país en el que las mascotas son realmente libres.</p>
<p class="ml-3">Nosotros las cuidamos y las alimentamos. Pero gracias a una sofisticada tecnología (basada esencialmente en una <b> sopa de letras</b>) hemos aprendido a comunicarnos con ellas.</p>
<p class="ml-3">De esta manera, hemos creado una sociedad en la que los humanos y las mascotas conviven como iguales. Por el momento, solo lo hemos conseguido con perros, pero tal vez en un futuro consigamos llegar aún más lejos.</p>
<p class="ml-3">Nuestros perros eligen qué comer, qué quieren aprender o incluso qué quieren trabajar. Pueden ser guardaespaldas, vigilantes, pastores de ovejas, participar en concursos de belleza, ¡y hasta ser aventureros!</p>
<p class="ml-3">Por nuestra parte, los humanos aquí trabajamos en seguir desarrollando nuestras tecnologías y cuidando nuestra amistad perruna. Así, tenemos encargados de relaciones exteriores con otros perros, embajadores de la Doguería, expertos en el neurolenguaje e ingenieros de todo tipo.</p>
<p class="ml-3">Ah, se me ha olvidado, aunque supongo que ya lo sabías. Hace un par de años los gobiernos han decidido exterminar a todos los caninos, así que nuestro trabajo es vivir peligrosas pero emocionantes aventuras para traer a todos los perros a este refugio seguro.</p>
<p class="ml-3">Y, por supuesto, defender este territorio como sea.</p>
<p class="ml-3">¿Qué me dices? ¿Estás listo para unirte a esta pequeña pero increíble familia?</p>
<p class="ml-3">Puedes elegir ser un perro y vivir increíbles aventuras como Brandy el conquistador, capaz de derretir a un humano con su ladrido; Niño, el enano más mordelón; Coco, el del ladrido sónico; Kodi, el perro que trajo a cinco cachorros de los Estados Unidos sobre su lomo; o Lola, la Madre mayor.</p>
<p class="ml-3">O puedes ser un humano y contribuir con nosotros a que el mundo sea un lugar mejor, aunque eso implique en algunos momentos la violencia.</p>
<p class="ml-3">Pero si eso te asusta, no te preocupes. ¡También necesitamos muchos peluqueros y otros oficios simples!</p>
<p class="ml-3">O simplemente, un humano que esté dispuesto a tener una mascota en su casa y darle lo más importante, amor.</p>
<p class="ml-3">¿Qué esperas? <a href="/registro">¡Regístrate ya y participa en esta misión para salvar a nuestros perros!</a></p>