<h1 class="mt-1 ml-3">¡Bienvenido!</h1>
<p class="ml-3">Estás en el panel de control de tu cuenta. Desde aquí podrás editar tu contraseña, borrarla o acceder al área de juego (aún no disponible).</p>
<ul>
    <li><a href="/editar">Cambiar contraseña</a></li>
    <li><a href="/eliminar">Eliminar cuenta</a></li>
    </ul>