<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Doguería</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/normalize.css">
    <script src="public/stylesheets/bootstrap.min.js"></script>
    <script src="stylesheets/popper.min.js"></script>
    <style>
        body{
              font-family: sans-serif;      
        }
    </style>
</head>
<body>
    <header>
          <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #4c2882;">
<a class="navbar-brand" href="/">La Doguería</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Barra de navegación">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto">
<li class="nav-item active">
<a class="nav-link" href="/bienvenido">¡Bienvenido!</a>
</li>
<li class="nav-item active">
<a class="nav-link" href="/faq">Preguntas frecuentes</a>
</li>
<li class="nav-item active">
<a class="nav-link" href="/contacto">Contacto</a>
</li>
<li class="nav-item active">
<a class="nav-link" href="/blog">Blog</a>
</li>
<li class="nav-item active">
<a class="nav-link" href="/login" style="border-color: #D4AF37; color: #D4AF37;">Iniciar sesión</a>
</li>
</ul>    
</div>
    </header>
    <img src="img/logo.jpg" class="mt-4 ml-1" alt="Logo">
    <main>
    {{{body}}}
    </main>
</body>
<footer>
    <p>© La Doguería 2022</p>
</footer>
</html>